{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{% block title %}{% trans "Mój sklep" %}{% endblock %}</title>
  <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
  <div id="header">
    <a href="/" class="logo">Mój sklep</a>
  </div>
  <div id="subheader">
    <div class="cart">
      {% with total_items=cart|length %}
        {% if cart|length > 0 %}
          {% trans "Koszyk" %}:
          <a href="{% url "cart:cart_detail" %}">
            {% blocktrans with total_items_plural=total_items|pluralize:"y" total_price=cart.get_total_price %} {{ total_items }} produkt{{ total_items_plural }}, {{ total_price }} zł{% endblocktrans %}
          </a>
        {% else %}
          {% trans "Koszyk jest pusty." %}"
        {% endif %}
      {% endwith %}
    </div>
  </div>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>